.popup__container {
  max-width: 430px;
  max-height: 330px;
  margin: 195px auto;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  z-index: 1;
  position: relative;
}

@media screen and (max-width: 700px) {
  .popup__container {
    max-width: 282px;
    max-height: 322px;
    margin: 123px auto;
  }
}
