.popup__title {
  margin: 0 0 37px 36px;
  padding-top: 34px;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 700px) {
  .popup__title {
    margin: auto;
    font-size: 18px;
    line-height: 22px;
    padding-top: 25px;
    margin: 0 0 64px 21px;
  }
}
