.element__button-like {
  background: url(../../../images/element-like.svg);
  background-size: 22px 19px;
  min-width: 26px;
  min-height: 19px;
  margin-top: auto;
  margin-bottom: auto;
  cursor: pointer;
  border: none;
}

.element__button-like:hover {
  opacity: 0.5;
}
